[submodule "lmdb"]
	path = lmdb
	url = https://github.com/LMDB/lmdb
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json
[submodule "pybind11"]
	path = pybind11
	url = https://github.com/pybind/pybind11
[submodule "catch2"]
	path = catch2
	url = https://github.com/catchorg/Catch2
